openapi: 3.0.0
servers:
  - url: //api.takeme.id/api/v1
    description: Production URL
  - url: //api.takeme.id/dev/api/v1
    description: Sandbox URL
info:
  description: |
    This is a documentation for takeme rest API.
    You can use the library we provide but the library / sdk actually also calls this api.
    You must have received an authorization key `corporate` and `secret` from us to access our feature.
    Documentation is also **available in postman collection version** click here to [download](https://www.solarnetgroup.com/)

    # Introduction
    Hello!! Welcome to Takeme API documentation. We will help you by providing financial 
    functions that help you **receive payments**, **send payments**, **transfer between your organization**, **pay bills** and **budgeting**. 
    Takeme is also good for you if you want to build a **financial platform** for your client / organizations. Our API is easy to understand by machine / human, 
    we uses common standard and HTTP response codes to indicate API errors. JSON is returned by all API responses, including errors. We also provide a sandbox 
    environment so you can try our features without using real money

    # Main Concept
    After you [create an account](https://www.solarnetgroup.com/), your account will be registered as a corporate. Corporate can have sub account / user **(we call it user)**. 
    Corporate and user almost have the same function. However, corporates can do more initiatives with their users. **You can ignore user concepts** 
    if in your case it doesn't exist

    # Authentication
    Make sure that you have [registered](https://www.solarnetgroup.com/) an account, you can obtain and manage your keys in [dashboard](https://www.solarnetgroup.com/).
    There are some keys that you will get from us

    | Key                       | Description                                                                                                                             |
    | ----------------          | ----------------------------------                                                                                                      |
    | `corporate`               | Account id or identity                                                                                             |
    | `secret`                  | Use this for generate signature, [read more about signature](#section/Authentication/Signature)   |
    | `callback-token`          | A value for you callback endpoint to authenticate the incoming request is the real from us, [read more](https://www.solarnetgroup.com/) |


    Use `corproate` and `secret` to provide the header below. You must provide this header for every your request header
    
    | Header                    | Type                               | Description                               |
    | ------------------------- | ---------------------------------- | ----------------------------------------- |
    | Content-Type              | application/json                   | Is representation header is used to indicate the original media type of the resource |
    | Accept-Language           | Enum: `en` or `id`                  | Language of response. The default language is `en`. [Click here for more](#section/Language-Options) |
    | corporate                 | String                             | use `corporate` key |
    | requestID                 | String                             | Your request unique id to help us tracing the request |
    | signature                 | String                             | HMACSHA512. Click [here](#section/Authentication/Signature) for detail |

    For transactional request you must add x-transaction-code on the request header

    | Header                    | Type                               | Description                               |
    | ------------------------- | ---------------------------------- | ----------------------------------------- |
    | Content-Type              | application/json                   | Is representation header is used to indicate the original media type of the resource |
    | Accept-Language           | Enum: `en` or `id`                  | Language of response. The default language is `en`. [Click here for more](#section/Language-Options) |
    | corporate                 | String                             | use `corporate` key |
    | requestID                 | String                             | Your request unique id to help us tracing the request |
    | signature                 | String                             | HMACSHA512. [Click here for detail](#section/Authentication/Signature)  |
    | x-transaction-code        | String                             | Encrypted corporate / account PIN [Click here for detail](#section/Authentication/What-is-x-transaction-code)  |


    ## What is x-transaction-code ?
    `x-transaction-code` == **encrypted PIN** <br/>
    Takeme use a PIN to add another layer of authentication. Corporate and user can have their own PIN, **so `x-transaction-code` for corporate and user (sub account) is DIFFERENT**. 
    After you create an account, you must set a PIN for your account / corporate. You can set a PIN via the API or the dashboard. However the API cannot accept plain PIN, 
    you must encrypt the plain PIN using the RSA algorithm encryption. [RSA](https://en.wikipedia.org/wiki/RSA_(cryptosystem)) is asymmetric encryption so you must encrypt your PIN with our public certificate.
    Here's a coding sample how to convert a plain PIN into an x-transaction-code ***(public certificate included on sample)***
    * [Java](https://www.solarnetgroup.com/)
    * [Python](https://www.solarnetgroup.com/)
    * [Javascript](https://www.solarnetgroup.com/)

    **NOTE** : if you won't to using sub account / user you can ignore RSA encryption to simplify integration with us by generating this key from dashboard 
    but if you change PIN or regenerate this then you need to update this also in your code

    ## Signature
    We use signature to validates the authenticity and integrity of your message. You can generate this value by hashing the request body (JSON as string) with HMACSHA512 algorithm. 
    The HMAC process mixes a secret key with the message data and hashes the result. Use the `secret` you got from the dashboard on HMAC process. Here's sample code how to generate signature

    * [Python](https://www.solarnetgroup.com/)
    * [Javascript](https://www.solarnetgroup.com/)


    ## IP Whitelist
    In production environtment you must register ip on dashboard

    ## Authenticate as a User
    If you want to peform request as a user you have to add user JWT (JSON Web Token) to the authorization header

    | Header                    | Type                               | Description                               |
    | ------------------------- | ---------------------------------- | ----------------------------------------- |
    | Content-Type              | application/json                   | Is representation header is used to indicate the original media type of the resource |
    | Accept-Language           | Enum: `en` or `id`                  | Language of response. The default language is `en`. [Click here for more](#section/Language-Options) |
    | corporate                 | String                             | use `corporate` key |
    | requestID                 | String                             | Your request unique id to help us tracing the request |
    | signature                 | String                             | HMACSHA512. [Click here for detail](#section/Authentication/Signature)  |
    | Authorization             | String / JWT                       | Bearer[space]JWT. [Click here for detail](#section/Authentication/What-is-JWT)  |


    For user transactional request you must add encrypted user PIN or `x-transaction-code` on the request header.

    | Header                    | Type                               | Description                               |
    | ------------------------- | ---------------------------------- | ----------------------------------------- |
    | Content-Type              | application/json                   | Is representation header is used to indicate the original media type of the resource |
    | Accept-Language           | Enum: `en` or `id`                  | Language of response. The default language is `en`. [Click here for more](#section/Language-Options) |
    | corporate                 | String                             | use `corporate` key |
    | requestID                 | String                             | Your request unique id to help us tracing the request |
    | signature                 | String                             | HMACSHA512. [Click here for detail](#section/Authentication/Signature)  |
    | Authorization             | String / JWT                       | Bearer[space]JWT. [Click here for detail](#section/Authentication/What-is-JWT)  |
    | x-transaction-code        | String                             | Encrypted user / sub account PIN [Click here for detail](#section/Authentication/What-is-x-transaction-code)  |
  

    ## What is JWT
    JSON Web Token (JWT) is a token you get from return of user login / signup process. All user activity must include this so you should store this token in your database and call it every you perform
    request as a user. JWT can be expired so you need relogin or refresh but you can change limit of expire in [dashboard](https://www.solarnetgroup.com/)


    # Language Options
    There are two language options available:
      - `en` English
      - `id` Bahasa Indonesia

    # Common Errors
    There are some errors that may occur in all endpoints

    | HTTP Status Code          | Error Code                         | Description                               |
    | ------------------------- | ---------------------------------- | ----------------------------------------- |
    | 500                       | 901 - 9xx                          | Something went wrong on takeme / hidden detail error |
    | 401                       | 703                                | Invalid Token / JWT user |
    | 400                       | 829                                | Invalid corporate code, secret, signature |
    | 400                       | 823                                | Corporate locked |
    | 400                       | 819                                | User locked |
    | 400                       | 802                                | Invalid payload  |

    **NOTE** :
      - **Corporate locked because  passing invalid user JWT, invalid secret or signature for several time**
      - **User locked because invalid PIN, face, or login otp for several time**
      - **Invalid payload happend because you send wrong format payload**

    # Status of Transaction
    If the transaction is an inbound transaction then our status will only return a completed status. However, if the transaction is an outbound transaction, we always return the pending status first, until the bank/other party provides an update for related confirmation. 
    After we get updates from other parties then we also notify you via [transaction callbacks](#tag/Callback-Transaction/operation/callbackStatusTransaction).
    
    | Status         | Description          |
    | ------------------------- | -- |
    | `Pending` | Transaction is initiated but not yet completed by bank / others |
    | `Completed` | Bank / others has confirmed transmission of funds |
    | `Refund` | Beneficiary bank returns funds for unspecified reason |
    | `Failed` | Transaction failed for multiple reasons |

  version: 2.3.0
  title: Takeme
  termsOfService: 'http://swagger.io/terms/'
  contact:
    name: Help / Feedback 
    email: hello@takeme.id
tags:
  - name: Registration and Verification
    description: Corporate can have sub account or user. User can be your customer or member of your organization. Here everything you need to do for user registration and get the user JWT
  - name: Login / Get JWT
    description: Everything you need to do for user login / get the user JWT
  - name: PIN (User)
    description: Everything you about manage user PIN
  - name: Others (User)
    description: Other user operation 
  - name: PIN
    description: Everything you can do for manage corporate PIN
  - name: Others
    description: Other corporate operation 
  - name: Create Balance / Virtual Account 
    description:  |
      Each registered account (corporate) or sub-account (user) will have its own balance. However if you need a budgeting you can use this multi balance feature. You can also use this 
      feature **if you want to receive payments from your customers without making them as a user**. Whenever fund come to balance (or deducted by corporate) we will notify you via callback [click here for detail](example.com).
      Here's a list of banks in our va
      - MANDIRI
      - BRI
      - BNI
      - PERMATA

  - name: Sharing
    description:  Everything you can do for sharing  balance. This collection API only can do by corporate
  - name: Sharing Balance (Approval)
    description:  Everything you can do for sharing balance with approval from balance owner
  - name: Transfer to Bank
    description:  All about transfers that result in money leaving the system
  - name: Transfer to Balance
    description:  All about transfers that don't result in money leaving the system
  - name: Accept Payment with Card
    description:  All about accept payment with card
  - name: Callback Transaction
    description:  |
      All about callback transaction. You must provide a url so that takeme service can notify your service. Here the notifications you will receive from the callback
      | Activity         | Callback          | 
      | ------------------------- | -- | 
      | When the status of your bank transfer transaction changes (ex : from `Pending` to `Completed`) | Status Callback | 
      | When funds from outside (bank) into your account balance or sub account | Topup Callback |
      | When you topup user balance via dashboard | Topup Callback |
      | When we (as principal) topup your user or corporate balance| Topup Callback |
      | When you deduct user balance via dashboard | Deduct Callback |
      | When we (as principal) deduct your user or corporate balance| Deduct Callback |

      You can set callback url on our dashboard


  - name: Callback Bulk
    description:  |
      All about callback bulk. You must provide a url so that takeme service can notify your service.Here the notifications you will receive from the callback
      | Activity         | Callback          | 
      | ------------------------- | -- | 
      | When bulk inquiry completed| Bulk Inquiry Completed Callback | 

      You can set callback url on our dashboard

x-tagGroups:
  - name: Account / Corporate
    tags:
      - PIN
      - Others
  - name: Transactions
    tags:
      - Transfer to Bank
      - Transfer to Balance
      - Accept Payment with Card
  - name: Balance
    tags:
      - Create Balance / Virtual Account
      - Sharing
      - Sharing Balance (Approval)
  - name: User
    tags:
      - Registration and Verification
      - Login / Get JWT
      - PIN (User)
      - Others (User)
  - name: Callback
    tags:
      - Callback Transaction
      - Callback Bulk

    

paths:
  /uaa/signup/{otp_channel}:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
      - name: otp_channel
        in: path
        description: |
          Used channel for sending OTP to phone number. `wa` for Whatsapp `sms` for Short Message Service
        required: true
        schema:
          type: string
          enum:
            - wa
            - sms
    post:
      tags:
        - Registration and Verification
      summary: Create
      description: |
        Create new user, sending OTP for verify phone number then send OTP to the [activation API](#tag/Signup/operation/activateUser) <br/>
        
        Note :
        * **OTP Duration is 2 minutes**	
        * **If user doesn't get otp (or delay) you can retry create user after more than 2 minutes**

      operationId: createUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode803'
                  - $ref: '#/components/schemas/ErrorCode882'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/SignupPayload'

  /uaa/activation:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Registration and Verification
      summary: Activation
      description: Afrer you create new user you need activate it with OTP that user got from their phone number
      operationId: activateUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100Activation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode804'
                  - $ref: '#/components/schemas/ErrorCode805'
                  - $ref: '#/components/schemas/ErrorCode883'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ActivationPayload'

  /user/upgrade:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Registration and Verification
      summary: Verification / Upgrade
      description: Only verified users can make transactions, here are how to upgrade or verify users
      operationId: upgradeUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode896'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/UpgradeUserPayload'

  /uaa/prelogin/{otp_channel}:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
      - name: otp_channel
        in: path
        description: |
          Used channel for sending OTP to phone number. `wa` for Whatsapp `sms` for Short Message Service
        required: true
        schema:
          type: string
          enum:
            - wa
            - sms
    post:
      tags:
        - Login / Get JWT
      summary: Prelogin
      description: |
        Before we send you JWT, we need authenticate the user. Call this for request OTP then send OTP to [Login API](#tag/Login-Get-JWT/operation/loginUser)
        Note :
        * **OTP Duration is 2 minutes**	
        * **If user doesn't get otp you can retry prelogin**

      operationId: preloginUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode804'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/PreloginPayload'

  /uaa/login:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Login / Get JWT
      summary: Login
      description: Call this when you want to get user JWT
      operationId: loginUser
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100Activation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode804'
                  - $ref: '#/components/schemas/ErrorCode807'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/LoginPayload'

  /uaa/face-login:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Login / Get JWT
      summary: Login (with face)
      description: Call this when you want to get user JWT with face / selfie authentication but **you need upgrade user first**
      operationId: loginUserWithFace
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100Activation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode804'
                  - $ref: '#/components/schemas/ErrorCode896'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/LoginFacePayload'

  /user/save-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - PIN (User)
      summary: Save
      description: User save PIN
      operationId: saveUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode893'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/SavePINPayload'

  /user/change-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN (User)
      summary: Change
      description: User change PIN
      operationId: changeUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode815'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ChangePINPayload'

  /user/pre-forgot-pin/{otp_channel}:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
      - name: otp_channel
        in: path
        description: |
          Used channel for sending OTP to phone number. `wa` for Whatsapp `sms` for Short Message Service
        required: true
        schema:
          type: string
          enum:
            - wa
            - sms
    post:
      tags:
        - PIN (User)
      summary: Pre forgot
      description: |
        If the user forget the pin you can call this function. This function will send the OTP to the user phone then the OTP is used to perform the [forgot pin](example.com)
        
        Note :
        * **OTP Duration is 2 minutes**	
      operationId: preforgotUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/PreForgotPINPayload'

  /user/forgot-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN (User)
      summary: Forgot
      description: Use OTP that user get from their phone
      operationId: forgotUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode813'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ForgotPINPayload'

  /user/change-face-as-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN (User)
      summary: Set face as PIN
      description: User can use their face as PIN, if you set this configuration become `true` you (as a user) can call [temporary PIN](example.com) and use the return as PIN 
      operationId: faceAsUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/FaceAsPINPayload'

  /transaction/request-temporary-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN (User)
      summary: Request temporary PIN
      description: If the user already [verified](#tag/Registration-and-Verification/operation/upgradeUser) and `face_as_pin` equal `true` user can use their face as PIN by calling this function to get a temporary PIN and use it for transactions.
      operationId: requestTemporaryUserPIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100TemporaryPIN'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode896'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/TemporaryPINPayload'

  /user/check:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    get:
      tags:
        - Others (User)
      summary: User check / detail
      description: Get the detail information from user
      operationId: userCheck
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

  /user/phone-book-check:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Others (User)
      summary: Find another user from phonebook
      description: Find another user from user phonebook
      operationId: userPhonebookCheck
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100PhoneboookCheck'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/PhonebookCheckPayload'

  /user/bank-account:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    get:
      tags:
        - Others (User)
      summary: List bank account
      description: User list saved bank account
      operationId: userListBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100ListBankAccount'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
    post:
      tags:
        - Others (User)
      summary: Save bank account
      description: User save bank account
      operationId: userSaveBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/BankAccountkPayload'
    delete:
      tags:
        - Others (User)
      summary: Delete bank account
      description: User delete bank account
      operationId: userDeleteBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      # requestBody:
      #   $ref: '#/components/requestBodies/BankAccountkPayload'

  /corporate/save-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - PIN
      summary: Save
      description: Corporate save PIN
      operationId: saveCorporatePIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode893'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/SavePINPayload'

  /corporate/change-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN
      summary: Change
      description: Corporate change PIN
      operationId: changeCorporatePIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode815'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ChangePINPayload'

  /corporate/pre-forgot-pin/{otp_channel}:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
      - name: otp_channel
        in: path
        description: |
          Used channel for sending OTP to phone number. `wa` for Whatsapp `sms` for Short Message Service
        required: true
        schema:
          type: string
          enum:
            - wa
            - sms
    post:
      tags:
        - PIN
      summary: Pre forgot
      description: |
        If the corporate forget the pin you can call this function. This function will send the OTP to the registered corporate phone then the OTP is used to perform the [forgot pin](example.com)
        
        Note :
        * **OTP Duration is 2 minutes**	
      operationId: preforgotCorporatePIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/PreForgotPINPayload'

  /corporate/forgot-pin:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - PIN
      summary: Forgot
      description: OTP that you get from call pre forgot pin API
      operationId: forgotCorporatePIN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode813'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ForgotPINPayload'

  /corporate/check:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    get:
      tags:
        - Others
      summary: Corporate check / detail
      description: Get the detail information from corporate
      operationId: corporateCheck
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Corporate'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

  /corporate/aggregate-balance:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    get:
      tags:
        - Others
      summary: Aggregate balance
      description: Aggregate corporate balance and aggregate user balance
      operationId: corporateAggregateBalanceCheck
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100AggregateBalance'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

  /corporate/user-balance:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Others
      summary: Fetch user balance
      description: Call this API when you want get balances of users
      operationId: fetchUserBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100FetchUser'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode813'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/FetchUserBalancePayload'

  /corporate/balance:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Create Balance / Virtual Account
      summary: Corporate balance
      description: Call this API when you want create corporate balance
      operationId: createCorporateBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100CreateBalance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode882'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/CreateBalancePayload'

  /user/balance:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Create Balance / Virtual Account
      summary: User balance
      description: Call this API when you want create user balance
      operationId: createUserBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100CreateBalance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode882'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/CreateBalancePayload'

  /corporate/balance/share:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Sharing
      summary: Share
      description: Call this API when you want share user balance to another user or sharing user balance to corporate
      operationId: shareBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/ShareBalancePayload'

  /corporate/balance/revoke:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Sharing
      summary: Revoke
      description: Call this API when you want revoke user access to another balance user
      operationId: revokeBalance
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/RevokeBalancePayload'

  /corporate/account-holdername:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Transfer to Bank
      summary: Inquiry bank account
      description: |
        Call this when you want validate or inquiry a bank account
      operationId: inquiryBankAccount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100InquiryBankAccount'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/InquiryBankPayload'

  /corporate/transfer/bank:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
      - name: x-transaction-code
        in: header
        description: Encrypt account / corporate PIN with RSA algorithm encryption. [Click here for detail](#section/Authentication/What-is-x-transaction-code)
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Transfer to Bank
      summary: Bank transfer
      description: |
        Call this API when you want transfer to bank as a corporate
        
        Note :
          - Minimum amount less than 10.000
          - Maximum amount more than 2.000.000.000 
          - Fraud transactions occur for several reasons. One of which is because there are identical transactions (amount, from, to) in less than a minute 
          - Fraud transactions occur for several reasons. One of which is because there are identical transactions (amount, from, to) in less than a minute 

      operationId: corporateTransferBank
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100TransactionBankCorporate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode808'
                  - $ref: '#/components/schemas/ErrorCode816'
                  - $ref: '#/components/schemas/ErrorCode810'
                  - $ref: '#/components/schemas/ErrorCode824'
                  - $ref: '#/components/schemas/ErrorCode818'
        '403':
          description: Forbiden Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode702'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/TransferPayload'

  /transaction/transfer/wallet:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: Authorization
        in: header
        description: "User JWT with Bearer prefix. [Click here for detail](#section/Authentication/What-is-JWT)"
        example: Bearer s7t3sad...
        required: true
        schema:
          type: string 
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
      - name: x-transaction-code
        in: header
        description: Encrypt sub account / user PIN with RSA algorithm encryption. [Click here for detail](#section/Authentication/What-is-x-transaction-code)
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string 
    post:
      tags:
        - Transfer to Bank
      summary: Bank transfer (Sub Account / User)
      description: |
        Call this API when you want transfer to bank as a sub account / user
        
        Note :
          - Upgrade / verify first 
          - Minimum amount less than 10.000
          - Maximum amount more than 2.000.000.000 
          - Fraud transactions occur for several reasons. One of which is because there are identical transactions (amount, from, to) in less than a minute 
          - Fraud transactions occur for several reasons. One of which is because there are identical transactions (amount, from, to) in less than a minute 

      operationId: userTransferBank
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100TransactionBankUser'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorCode808'
                  - $ref: '#/components/schemas/ErrorCode816'
                  - $ref: '#/components/schemas/ErrorCode810'
                  - $ref: '#/components/schemas/ErrorCode824'
                  - $ref: '#/components/schemas/ErrorCode818'
        '403':
          description: Forbiden Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode702'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'
      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/TransferPayload'

  /corporate/accept-payment/card:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Accept Payment with Card
      summary: Create Payment
      description: |
        Create payment, move money to assigned balance <br/>
        
        Note :
        * **If status equal `Pending` card owner must be authenticate. Take the user to `auth_url` so they can make authentication (fill OTP from their phone)**	
        * **If status equal `Completed` card owner not need authenticate**	
        * **We will inform you about this transaction via accept payment callback (if the funds was come to us)**
        * **If interval = empty string or null we assume you request non subscribe charge card**

      operationId: acceptPayment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse100CreatePayment'
        '500':
          description: Internal Server Error 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode9XX'

      x-codeSamples:
        - lang: 'cURL'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
            pet.setApiKey("your api key");
            pet.petType = PetStore.v1.Pet.TYPE_DOG;
            pet.name = "Rex";
            // set other fields
            PetStoreResponse response = pet.create();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Successfully created
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: Python
          source: |
            printf('Hello Takeme')
      requestBody:
        $ref: '#/components/requestBodies/CreatePaymentPayload'

  /corporate/accept-payment/card/cancel:
    parameters:
      - name: Accept-Language
        in: header
        description: "The language you prefer for messages. Supported values are [here](#section/Language-Options)"
        example: id
        required: false
        schema:
          type: string
          default: en
      - name: corporate
        in: header
        description: "Your corporate id or key"
        example: 5ed5241591f9651c9435d7e6
        required: true
        schema:
          type: string
      - name: requestID
        in: header
        description: "Your unique id for each request to help us tracing the request"
        example: bf27ecab-83fa-4267-b898-9f760a05baf7
        required: true
        schema:
          type: string
      - name: signature
        in: header
        description: "HMACSHA512. Click [here](#section/Authentication/Signature) for detail "
        example: s7t3sadfa83fa4267b8989f760a05baf7jd456jk...
        required: true
        schema:
          type: string   
    post:
      tags:
        - Accept Payment with Card
      summary: Cancel Subscribe Payment
      description: |
        Cancel card subscribe payment

[...]
